{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>// Здесь должен быть список всех записей в хронологическом порядке.</h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Название поста</th>
                    <th scope="col">Создан</th>
                    <th scope="col">Автор</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td><a href="{% url 'post_detail' pk=post.id %}">{{ post.title }}</a></td>
                        <td>{{ post.created_at }}</td>
                        <td>
                            {% if post.author == None %}
                                Аноним
                            {% else %}
                                {{ post.author }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
