{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ post.id }}</li>
                    <li class="list-group-item">{{ post.created_at }}</li>
                    <li class="list-group-item">{{ post.author }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}