{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>// Здесь должно быть создание объектов модели Post.</h1>

            <form action="{% url 'profile' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                    {{ field }}
                    </div>
                {% endfor %}
                <button type="submit">Опубликовать пост</button>
            </form>
        </div>
    </div>
{% endblock %}